.wrapper-forecast-eight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    padding-left: 20px;
}

.hide {
    display: none;
}

.container-background-forecast {
    width: 293px;
    height: 705px;
    background-color: $lightGrey;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
    padding-top: 18px;
}

.wrapper-forecast-eight div {
    width: 100px;
    height: 140px;
    border-radius: 10px;
    background-color: $mediumGrey;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 12px;
}

.wrapper-forecast-eight div img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.wrapper-forecast-eight div p {
    margin: 0;
    font-family: "Montserrat", "sans-serif";
    font-size: 10px;
    font-weight: 500;
}

.title-weekly-forecast {
    margin: 0;
    margin-left: 43px;
    font-weight: 600;
    font-family: "Montserrat", "sans-serif";
    font-size: 10px;
}

.forecast-card div {
    width: 96px;
    height: 45px;
}

@media(min-width:768px) {
    .container-background-forecast {
        width: 634px;
        height: 526px;
    }

    .hide {
        display: none;
    }

    .wrapper-forecast-eight {
        grid-template-columns: 1fr;
    }

    .wrapper-forecast-eight div {
        width: 524px;
        height: 40px;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
    }

    .wrapper-forecast-eight div img {
        width: 35px;
        height: 35px;
    }

    .container-temperature {
        height: 0;
    }

    .wrapper-forecast-eight div p {
        font-size: 14px;
    }

    .title-weekly-forecast {
        margin-left: 45px;
        font-size: 12px;
    }

    .forecast-card div {
        width: 94px;
        height: 0;
    }
}

@media(min-width:1440px) {
    .container-background-forecast {
        width: 1140px;
        height: 554px;
        padding-bottom: 42px;
        padding-top: 26px;
        justify-content: space-between;
    }

    .hide {
        display: flex;
    }

    .wrapper-forecast-eight div {
        width: 986px;
        height: 47px;
    }

    .wrapper-forecast-eight div p {
        font-size: 16px;
    }

    .forecast-card div {
        width: 99px;
    }

    .hideBig {
        display: none;
    }
}