.form-weather {
    width: 174px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.search-icon {
    width: 9px;
    height: 9px;
}

.form-weather input {
    background-color: $mediumGrey;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    padding-bottom: 5px;
    outline: none;
}

.form-weather input:focus {
    border: 2px solid $lightOrange;
}

.form-weather input::placeholder {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 6px;
    color: $greyColor;
}

.form-weather button {
    background-color: $lightOrange;
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 17px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.form-weather button:hover {
    box-shadow: 0 0 8px 2px $lightOrange;
}

@media(min-width:768px) {
    .form-weather {
        width: 402px;
    }

    .search-icon {
        width: 16px;
        height: 16px;
    }

    .form-weather input {
        width: 373px;
        height: 27px;
        padding-bottom: 0;
    }

    .form-weather input::placeholder {
        font-size: 10px;
    }

    .form-weather button {
        width: 28px;
        height: 27px;
    }

}

@media(min-width:1440px) {
    .form-weather {
        width: 625px;
    }

    .search-icon {
        width: 25px;
        height: 25px;
    }

    .form-weather input {
        width: 580px;
        height: 42px;
    }

    .form-weather input::placeholder {
        font-size: 14px;
    }

    .form-weather button {
        width: 45px;
        height: 42px;
    }
}