.banner {
  background-image: url('../../assets/images/Banner_background.png');
  background-size: cover;
  background-position: center;
  height: 393px;
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;

  &__title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .hideBig {
    display: flex;
  }

  .hideSmall {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;

    .banner__description,
    .banner__date {
      font-size: 10px;
      line-height: 1.5;
      white-space: pre-line;
    }

    .banner__divider {
      height: 80px;
      width: 2px;
      background-color: $whiteColor;
    }
  }

  // @media (max-width: 480px) {
  //   padding: 1rem;

  //   &__title {
  //     font-size: 1.8rem;
  //   }

  //   &__content {
  //     flex-direction: column;
  //     gap: 1rem;

  //     .banner__description,
  //     .banner__date {
  //       max-width: 100%;
  //       font-size: 1rem;
  //     }
  //   }


  // }

  @media (min-width: 768px) {
    &__title {
      font-size: 2.2rem;
    }

    .hideBig {
      display: none;
    }

    .hideSmall {
      display: flex;
    }

    &__content {
      flex-direction: row;
      gap: 1.5rem;

      .banner__divider {
        height: 110px;
      }

      .banner__description,
      .banner__date {
        font-size: 14px;
         position: relative;
        bottom: 20px;
      }

   
    }

  }

  @media (min-width: 1440px) {

    height: 595px;
    gap: 40px;

    &__title {
      font-size: 3rem;
    }

    .hideBig {
      display: none;
    }

    &__content {
      gap: 3rem;

      .banner__divider {
        height: 144px;
      }

      .banner__description,
      .banner__date {
        font-size: 24px;
         bottom: 32px;
      }
    }
  }
}